<% include ../partials/header %>

    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <p class="lead">YelpCamp</p>
                <div class="list-group">
                    <li class="list-group-item active">Info 1</li>
                    <li class="list-group-item">Info 2</li>
                    <li class="list-group-item">Info 3</li>
                </div>
            </div>
            <div class="col-md-9">
                <figure class="figure img-thumbnail" >
                    <img class="img-fluid" src="<%= foundCampground.image %>" alt="">
                    
                    <figcaption class="figure-caption">
                        <h4 class="d-inline"><a href="/campgrounds/<%= foundCampground._id %>"><%= foundCampground.name %></a></h4>
                        <h4 class="d-inline float-right">$<%= foundCampground.price %>/night</h4>
                    </figcaption>
                    
                    <figcaption class="figure-caption">
                        <p><%= foundCampground.description %></p>
                        <p>
                            <em>Submitted By <%= foundCampground.author.username %></em>
                        </p>
                        <% if (loggedUser && foundCampground.author.id.equals(loggedUser._id)) { %>
                            <a class="btn btn-sm btn-warning" href="/campgrounds/<%= foundCampground._id %>/edit">Edit</a>
                            <form class="d-inline" action="/campgrounds/<%= foundCampground._id %>?_method=delete" method="post">
                                <button class="btn btn-sm btn-danger" type="submit">Delete</button>
                            </form>
                        <% } %>
                    </figcaption>
                </figure>
                
                <div class="card">
                    <div class="card-body bg-light">
                        <div class="text-right">
                            <a class="btn btn-success" href="/campgrounds/<%= foundCampground._id %>/comments/new">Add New Comment</a>
                        </div>
                    </div>
                    <% foundCampground.comments.forEach(function(comment){ %>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">
                                <strong><%= comment.author.username %></strong><span class="float-right">10 days ago</span> 
                                <p>
                                    <%= comment.text %>
                                </p>
                                <% if (loggedUser && comment.author.id.equals(loggedUser._id)) { %>
                                    <a class="btn btn-sm btn-warning" href="/campgrounds/<%= foundCampground._id %>/comments/<%= comment._id %>/edit">Edit</a>
                                    <form class="d-inline" action="/campgrounds/<%= foundCampground._id %>/comments/<%= comment.id %>?_method=delete" method="post">
                                        <button class="btn btn-sm btn-danger" type="submit">Delete</button>
                                    </form>
                                <% } %>
                            </li>
                        </ul>
                    <% }) %>
                </div>
            </div>
        </div>
    </div>

        
<% include ../partials/footer %>